<h1> Flexible Payment</h1>

<h3> A <%= @years %> year loan of $<%= @principal %>, with an annual interest rate of <%= @apr %>%, requires a monthly payment of $<%= @monthly_payment%>. </h3>

<h4> Please note that you need to enter: url/apr/years/principal. </h4>
<h4> Enter your percentage as a decimal multiplied by 100, e.g. a 4.5% APR, should be entered in the url as 450. </h4>
