<h1> Flexible Square </h1>
<h2> You entered <%= @user_input %> </h2>
<h3> The square of <%= @user_input %> is <%= @square %> </h3>
<h3> Please note that this calculation only accepts integers. All decimals will be rounded down.  </h3>
