<h1> Payment Calculation </h1>

<form action = "/payment/results">
  <div>
    <label for="fuckssake"> APR </label>
    <input id="fuckssake" type = "string" name = "apr">
  </div>
  <div>
    <label for="fuckssake"> Number of years</label>
    <input id="fuckssake" type = "text" name = "years">
  </div>
  <div>
    <label for="fuckssake"> Principal</label>
    <input id="fuckssake" type = "text" name = "principal">
  </div>
  <button> Calculate monthly payment </button>
</form>
