<h1> Payment Calculation </h1>

<form action = "/payment/results">
  <div>
    <label for="frick"> APR </label>
    <input id="frick" type = "string" name = "apr">
  </div>
  <div>
    <label for="ona"> Number of years</label>
    <input id="ona" type = "text" name = "years">
  </div>
  <div>
    <label for="stick"> Principal</label>
    <input id="stick" type = "text" name = "principal">
  </div>
  <button> Calculate monthly payment </button>
</form>
