<h1> Random Results </h1>

<h2> Minimum </h2> <h3> <%= @min %> </h3>
<h2> Maximum </h2> <h3> <%= @max %> </h3>
<h2> Random Number </h2> <h3> <%= @random %> </h3>

<a href= "/random/new" > Pick another random number</a>
