<h1> Square of a number </h1>

<form action = "/square/results">
  <div>
    <label for="fuckssake"> Enter a number</label>
    <input id="fuckssake"type = "text" name = "user_number">
  </div>
  <button> Calculate square </button>
</form>
