<h1> Square Root of a number </h1>
<h2> You entered <%= @user_input %> </h2>
<h3> The square of <%= @user_input %> is <%= @square_root%> </h3>

<form action = "/square_root/new">
  <button> Return to entry form </button>
</form>
